html {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
}

h2#question-detail {
    flex:1;
    font-size: 4rem;
    font-weight: 200;
}

h2#answer-detail {
    font-size: 2.5rem;
    font-weight: 200;
}

body {
    width: 85%;
    margin: 0 auto;
}

#answer br {
    display: block;
    margin-top: 20px;
    content: ""; /* Fix for Chrome */
}

#subject {
    border-bottom: 1px solid black;
}

#question, #answer {
    text-align: center;
}

#question {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 25px 10px;
    margin-top: 5rem;
    min-height: 200px;
}

#answer {
    margin-top: 4rem;
    padding: 0 10px;
}

#progress {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    margin-top: 16px;
}

#progress-current {
    margin-right: .2rem;
}

#progress-total {
    margin-left: .2rem;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
    body {
        width: 85%;
    }
    h1 {
        text-align: center;
        font-size: 10rem;
    }

    h2#question-detail {
        font-size: 6rem;
    }
    h2#answer-detail {
        font-size: 6rem;
    }
    #progress {
        font-size: 3rem;
    }
}
