extends layout

block content
    #message(style="display: none;")
        h2.
            Congratulations, you answered all the questions!
    #subject
        h1= title
    #question
        h2#question-detail
    #answer
        h2#answer-detail
    #progress
        span#progress-current 0
        | /
        span#progress-total 0
