extends layout

block content
    #header
        h1.
            Subjects
    #subjects
        each subject in subjects
            a(href='/subject/' + subject._id).subject
                p= subject.title
                span= subject.code
